# Database Configuration
MONGODB_URI=DATABSE_CONNECTION_STRING

# JWT Configuration
JWT_SECRET=secret_jwt_key_secure
JWT_REFRESH_SECRET=secret_refresh_key_2024_secure
JWT_EXPIRE=24h
JWT_REFRESH_EXPIRE=7d



# Groq AI Configuration
GROQ_API_KEY_PRIMARY=MAIN_API_KEY
GROQ_API_KEY_BACKUP=BACKUP_API_KEY

# # Email Configuration (for notifications)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=example@gmail.com
EMAIL_PASS=abcd efgh ijkl

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=NAME_CLOUD
CLOUDINARY_API_KEY=API_KEY
CLOUDINARY_API_SECRET=SECRET_KEY_
CLOUDINARY_URL=CLOUDINARY_CONNECTION_STRING

# Server Configuration
PORT=5000
NODE_ENV=production
